.custom-navbar {
    background-color: pink !important; /* Dark Background */
    padding: 10px 20px;
  }
  
  .navbar-logo {
    font-size: 22px;
    font-weight: bold;
    color: white !important;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
    margin-right: 15px;
    font-size: 16px;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f8b400 !important; /* Yellow Hover */
  }
  